<ul>
    {% for item in files_data.items %}
        <li>
            {% if item.type == 'dir' %}
                <div class="folder">
                    📁 {{ item.name }} (папка)
                </div>
                {% if item.items %}

                    {% include "web/folder_content.html" with files_data=item %}
                {% endif %}
            {% else %}
                <div class="file">
                    📄<a href="{{ item.file }}" target="_blank"> Загрузить</a>
                    <a href="{{ item.preview }}" target="_blank">{{ item.name }}</a> (файл, {{ item.size }} байт)
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>