<ul>
    {% for item in files_data.items %}
        <li>
            {% if item.type == 'dir' %}
                <div class="folder-container">
                    <div class="folder-header">
                        <span class="folder-icon">📁</span>
                        <span>{{ item.name }}</span>
                    </div>
                </div>
                <div class="folder-content">
                    {% if item.items %}
                        {% include "web/folder_content.html" with files_data=item %}
                    {% endif %}
                </div>
            {% else %}
                <div class="file-container">
                    <div class="file">
                        <input type="checkbox" class="file-checkbox" data-url="{{ item.file }}">
                        📄 <a href="{{ item.preview }}" target="_blank">{{ item.name }}</a> (файл, {{ item.size }})
                    </div>
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>